@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    font-family: 'Roboto', sans-serif;
    --background-color: #CEE7E6;
    --grid-color: #BFC0C0;
    --header-color: #648767;
    --header-text-color: #4c5c68;
    --text-color: #7DC95E;
    --button-color: #7CDF64;
}

*{
    padding:0;
    border:0;
    margin:0;
    box-sizing: border-box;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    background-color: var(--background-color);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: aquamarine;
    border-bottom: 2px solid var(--header-text-color);
}

header h1{
    font-size: 5em;
    font-weight: 300;
    color: #4c5c68;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    color: var(--header-text-color);
}

.board-container{
    display: grid;
    width: 350px;
    height: 350px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 1px solid var(--header-text-color);
}

.field{
    position: relative;
    border: 1px solid var(--header-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    cursor: pointer;
    user-select: none;
}

.field::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.field:hover::before{
    background-color: rgba(255, 255, 255, 0.5);
}

button{
    padding: 1em 2em;
    background-color: var(--button-color);
    font-size: 1.35em;
    font-weight: bold;
    border: 1px solid var(--text-color);
    cursor: pointer;
    margin-bottom: 3em;
    color: var(--header-text-color);
}

footer{
    position: absolute;
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left:0;
    height: 50px;
}